* {
    box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background-image: linear-gradient(red, black);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 36px;
  text-align: center;
  padding-bottom: 10px;
}

h2 {
  font-size: 20px;
}

h3, h4, h5, h6 {
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: space-around;
}

header {
  border-bottom: 1px dotted white;
  padding: 10px;
}

.container {
  padding: 5%;
}

.category-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category {
  margin: 2%;
  padding: 2%;
  width: 46%;
  line-height: 1.5;
  background: black;
  border-radius: 20px;
}

.category p {
  margin: 10px;
}

li:before {
  content: '- ';
}

footer {
	display: flex;
	justify-content: space-around;
}

i {
	color: white;
}
