* {
    box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: darkslategrey;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
	text-align: center;
}

h3, h4, h5, h6 {
  font-size: 1rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

header {
  border-bottom: 1px dotted black;
  padding: 10px;
}

header p {
  text-align: center;
}

.container {
  padding: 5%;
  background-color: black;
	background-image: url("IMG_2231.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.category-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-header {
  width: 100%;
  font-size: 2rem;
}

.category {
  margin: 2%;
  padding: 2%;
  width: 46%;
  line-height: 1.5;
  background: #89ACD6; /*789BC5;*/
  border-radius: 20px;
	-moz-box-shadow:    inset 0 0 15px darkslategrey;
  -webkit-box-shadow: inset 0 0 15px darkslategrey;
  box-shadow:         inset 0 0 15px darkslategrey;
  color: black;
}

.category p {
  margin: 10px;
}

.category-third {
  margin: 2%;
  padding: 2%;
  width: 28%;
  line-height: 1.5;
  background: #89ACD6;
  border-radius: 20px;
	-moz-box-shadow:    inset 0 0 15px darkslategrey;
  -webkit-box-shadow: inset 0 0 15px darkslategrey;
  box-shadow:         inset 0 0 15px darkslategrey;
  color: black;
}

.category-third p {
  margin: 10px;
}

.category-full {
  margin: 0% 2%;
  padding: 1vh 4%;
  width: 96%;
  line-height: 1.5;
  background: #89ACD6;
  border-radius: 20px;
	-moz-box-shadow:    inset 0 0 15px darkslategrey;
  -webkit-box-shadow: inset 0 0 15px darkslategrey;
  box-shadow:         inset 0 0 15px darkslategrey;
  color: black;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery a {
  margin: 2%;
  width: 46%;
  border-radius: 20px;
}

.gallery a img {
  width: 100%;
  border-radius: 20px;
}

footer {
	display: flex;
	justify-content: space-around;
	border-top: 1px dotted white;
  padding: 10px;
	padding-bottom: 0px;
}

footer i {
	color: white;
}

@media only screen and (max-width : 700px) {
  .category {
    width: 96%;
  }

  .gallery a {
    width: 96%;
  }
}

@media only screen and (min-width: 1200px) {
  .category {
    width: 28%;
  }

  .gallery a {
    width: 28%;
  }
}
