* {
    box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 36px;
  text-align: center;
  padding-bottom: 10px;
}

h2 {
  font-size: 20px;
	text-align: center;
}

h3, h4, h5, h6 {
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: space-around;
}

header {
  border-bottom: 1px dotted white;
  padding: 10px;
}

.container {
  padding: 5%;
	background-image: linear-gradient(#990000, black);
}

.category-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category {
  margin: 2%;
  padding: 2%;
  width: 46%;
  line-height: 1.5;
  background: #660000;
  border-radius: 20px;
	-moz-box-shadow:    inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow:         inset 0 0 15px #000000;
}

.category p {
  margin: 10px;
}

footer {
	display: flex;
	justify-content: space-around;
	border-top: 1px dotted white;
  padding: 10px;
	padding-bottom: 0px;
}

i {
	color: white;
}

@media only screen and (max-width : 500px) {

}
