
{% extends "flare/base.html" %}
{% block title %}
{% if character %}
  Character: {{ character.name }}
{% else %}
  Characters
{% endif %}
{% endblock %}
{% block char_nav %}class="active"{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<h1 class="w3-text-blue-grey">{{ character.name }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'character:save' character.id %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="w3-text-white">
<table class="w3-table">
  <tr>
    <th class="w3-right-align">Character Name:</th>
    <td><input type="text" name="name" id="name" value="{{ character.name }}"></td>
    <td>&nbsp;</td>
    <th class="w3-right-align">Player Name:</th>
    <td>{{ character.user.first_name }} {{ character.user.last_name }}</td>
    <th class="w3-right-align">#{{ character.id }}</th>
    <td rowspan="6">
      {% if character.image %}
        <img src="{{ character.image.url }}" class="w3-image" style="max-height: 200px; max-width: 200px;" />
        <br />
      {% endif %}
      <label class="w3-btn w3-light-grey">
      <input id="id_image" type="file" class="" name="image" value="Upload Image" style="display: none;" />
      Select Image</label>
      <br /><input class="w3-check" id="remove_image" type="checkbox" name="remove_image" value="True" />Remove Image
      <br /><input class="w3-btn w3-light-grey" type="submit" value="Save" /></td>
  </tr>
  <tr>
    <th class="w3-right-align">Race:</th>
    <td><div class="tooltip">{{ character.character_race.name }}
      <span class="tooltiptext"><p class="w3-center-align">{{ character.character_race.name }}</p><p>{{ character.character_race.notes }}</p></span></div>
      {% if character.character_subrace %}
        (<div class="tooltip">{{ character.character_subrace.name }}<span class="tooltiptext">
          <p class="w3-center-align">{{ character.character_subrace.name }}</p><p>{{ character.character_subrace.notes }}</p></span></div>)
      {% endif %}</td>
    <td></td>
    <td></td>
    <th class="w3-right-align">Class:</th>
    <td><div class="tooltip">{{ character.character_class.name }}
    <span class="tooltiptext"><p class="w3-center-align">{{ character.character_class.name }}</p><p>{{ character.character_class.description }}</p></span></div></td>
  </tr>
  <tr>{% load rounding %}
    <th class="w3-right-align">XP:</th>
    <td>{{ character.calculate_xp|round_down }}</td>
    <th class="w3-right-align">XP Spent:</th>
    <td>{{ character.get_spent_xp|floatformat }}</td>
    <th class="w3-right-align">XP Free:</th>
    <td>{{ character.get_free_xp|round_down }}</td>
  </tr>
  <tr>
    <th class="w3-right-align">HP:</th>
    <td>{{ character.calculate_hp }}</td>
    <th class="w3-right-align">Bank:</th>
    <td>{{ character.bank|floatformat }} silver</td>
    <th class="w3-right-align">Rewrites Available:</th>
    <td>{{ character.rewrites_available }}</td>
  </tr>
  <td>&nbsp;</td>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr><td>&nbsp;</td>
  </tr>
  </table>
</div>
<br /><br />
<h3 class="w3-text-blue-grey">Character Skills</h3>
<table class="w3-table w3-bordered w3-text-white">
  <thead>
  <tr>
    <th class="w3-right-align">#</th>
    <th>Skill</th>
    <th class="w3-right-align">Cost</th>
  </tr>
  </thead>
{% for character_skill in character.character_skill_set.all %}
  <tr>
    <td class="w3-right-align">{{ character_skill.multiplier }}</td>
    <td><div class="tooltip">{{ character_skill.skill.abbrev }}
    {% if character_skill.option %}
      ({{ character_skill.option.name }})
    {% endif %}<span class="tooltiptext">{{ character_skill.skill.name }}<br />{{ character_skill.skill.description }}</span></div></td>
    <td class="w3-right-align">{{ character_skill.get_total_cost }}</td>
    {% if character_skill.skill.abbrev == 'MPrf' %}
      {% if character_skill.option.bonus_skill %}
      </tr><tr>
        <td class="w3-right-align">1</td>
        <td><div class="tooltip">&nbsp; -&nbsp;Bonus Skill: {{ character_skill.option.bonus_skill.abbrev }}
          <span class="tooltiptext">{{ character_skill.option.bonus_skill.name }}<br />{{ character_skill.option.bonus_skill.description }}</span></div></td>
        <td></td>
      {% endif %}
    {% endif %}
  </tr>
{% endfor %}
</table>
{% if character.get_free_xp >= 1 %}
<a href="{% url 'character:buyskills' character.id %}" class="w3-text-white">Buy Skills</a>
{% endif %}
<br />
<br />
<h3 class="w3-text-blue-grey">Notes</h3>
<textarea name="player_notes" rows="8" cols="80">{{ character.player_notes }}</textarea>
  <br />
  <input class="w3-btn w3-light-grey" type="submit" value="Save">
  <br />
  <br />
<h3 class="w3-text-blue-grey">Bio/History</h3>
<textarea name="bio" rows="8" cols="80">{{ character.bio }}</textarea>
<br />
<input class="w3-btn w3-light-grey" type="submit" value="Save">
</form>
<br />
<br />
<h3 class="w3-text-blue-grey">Events</h3>
<table class="w3-table-all">
  <thead>
  <tr class="w3-light-grey">
    <th class="align_center">Date</th>
    <th>Event</th>
    <th>PC/NPC</th>
    <th class="w3-right-align">CH Awarded</th>
  </tr>
  </thead>
    {% for player_event in character.player_events_set.all %}
  <tr>
    <td>{{ player_event.event.date }}</td>
    <td>{{ player_event.event.name }} ({{ player_event.event.event_type.name }})</td>
    <td>{{ player_event.get_attendance_type_display }}</td>
    <td class="w3-right-align">{{ player_event.calculate_character_hours|floatformat:"-2" }}</td>
  </tr>
    {% endfor %}
    <tr>
      <th class="w3-right-align">CH Earned:</th>
      <td>{{ character.calculate_character_hours|floatformat:"-2" }}</td>
      <th class="w3-right-align">XP Earned:</th>
      <td>{{ character.calculate_earned_xp|floatformat:"-2" }}</td>
    </tr>
  </table>
  {% else %}
  <p>Please log in to see your characters.</p>
  {% endif %}
  {% endblock %}
